service fuelgauged /vendor/bin/fuelgauged
    class core
    user system
    group system

on early-fs
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"
    write /dev/kmsg "DEBUG: early-fs triggered, starting fuelgauge!"